---
import type { CollectionEntry } from 'astro:content'
import { getShortDate } from '@/utils/date'

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props

const groupedPosts = posts.reduce<
  {
    year: number
    posts: CollectionEntry<'posts'>[]
  }[]
>((acc, cur) => {
  const year = cur.data.date.getFullYear()
  const lastYearGroup = acc[acc.length - 1]
  if (lastYearGroup && lastYearGroup.year === year) {
    lastYearGroup.posts.push(cur)
  } else {
    acc.push({
      year,
      posts: [cur],
    })
  }
  return acc
}, [])
---

<section class="relative">
  <div class="absolute left-[82px] top-2 bottom-2 z-0 w-[4px] bg-[#f5f5f5] dark:bg-[#3f3f46]"></div>
  <div class="space-y-8">
    {
      groupedPosts.map((year) => (
        <div class="space-y-2">
          <div class="grid grid-cols-[72px_24px_1fr] items-center">
            <h3 class="text-right text-2xl font-bold leading-none text-primary">{year.year}</h3>
            <span class="relative z-10 mx-auto block size-3 rounded-full bg-[#a3a3a3] dark:bg-[#d4d4d8]"></span>
            <p class="text-sm text-secondary"> {year.posts.length} 篇</p>
          </div>
          <ul class="space-y-2">
            {year.posts.map((post) => (
              <li class="grid grid-cols-[72px_24px_1fr] items-center">
                <span></span>
                <span class="relative z-10 mx-auto block h-[6px] w-[6px] rounded-full bg-[#bbbbbb] dark:bg-[#71717a]"></span>
                <div class="flex items-baseline gap-2 min-w-0">
                  <span class="shrink-0 text-gray-600 dark:text-gray-300 text-sm">
                    {getShortDate(post.data.date)}
                  </span>
                  <a
                    class="truncate hover:text-accent/80 hover:underline underline-offset-2"
                    href={`/posts/${post.slug}`}
                  >
                    {post.data.title}
                  </a>
                  {post.data.sticky > 0 && <i class="iconfont icon-pushpin shrink-0 text-red-500" />}
                </div>
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
