---
import Layout from './Layout.astro'
import Footer from '@/components/footer/Footer.astro'
import { Header } from '@/components/header/Header'
import { Provider } from '@/components/provider/Provider'
import ReadPageHeader from '@/components/ReadPageHeader.astro'
import 'katex/dist/katex.min.css'

interface Props {
  title: string
  description?: string
  image?: string
  mdTitle: string
  mdDescription: string
  mdSlug: string
  category?: string
  tags?: string[]
  date?: string
  lastMod?: string
  words?: number
  readingMinutes?: number
}

const { title, description, image, mdTitle, mdDescription, mdSlug, category, tags, date, lastMod, words, readingMinutes } = Astro.props
---

<Layout title={title} description={description} image={image}>
  <Provider
    pathName={Astro.url.pathname}
    title={mdTitle}
    description={mdDescription}
    slug={mdSlug}
    client:only="react"
  />

  <Header client:only="react" />
  <main class="relative z-1 bg-primary">
    <ReadPageHeader
      title={mdTitle}
      description={mdDescription}
      category={category}
      tags={tags}
      imageUrl={image}
      date={date}
      lastMod={lastMod}
      words={words}
      readingMinutes={readingMinutes}
    />
    <div class="swup-transition-fade">
      <slot />
    </div>
  </main>
  <Footer />
</Layout>
