---
import Layout from './Layout.astro'
import { Header } from '@/components/header/Header'
import Footer from '@/components/footer/Footer.astro'
import { Provider } from '@/components/provider/Provider'
import SpeciPageHeader from '@/components/SpeciPageHeader.astro'

interface Props {
  title?: string
  description?: string
  image?: string
  category?: string
  tags?: string[]
}

const { title, description, image, category, tags } = Astro.props
---

<Layout title={title} description={description} image={image}>
  <Provider pathName={Astro.url.pathname} client:only="react" />

  <Header client:only="react" />
  <main class="relative z-1 bg-primary">
    {title && (
      <SpeciPageHeader
        title={title}
        description={description}
        category={category}
        tags={tags}
        imageUrl={image}
      />
    )}
    <div class="swup-transition-fade">
      <slot />
    </div>
  </main>
  <Footer />
</Layout>
